.about-container {
    height: 150vh;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 2%;
}

.about-text {
    font-size: 1.8rem;
    width: 70%;
    position: fixed;
    top: 40%;
}

@media (max-width: 768px) {
    .about-container {
        justify-content: center;
    }
    .about-text {
        font-size: 1.2rem;
        top: 30%;
    }
}
