.intro-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    font-size: 3.5rem;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: fixed;
}

.intro-second {
    position: fixed;
    top: 60%;
}

@media (max-width: 768px) {
    .intro {
        font-size: 2rem;
    }
}
