.skills {
  width: 100vw;
  margin-top: 2%;
  min-height: 100vh;
}
.skills > h1 {
  font-size: 3.5rem;
  color: var(--primary);
  text-align: center;
}

.skills-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.skills-box {
  border-radius: 50px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 50px;
  min-width: 400px;
  width: 30%;
  margin: 2% 2% 2% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 20px 0;
}

.skills-box > h1 {
  font-size: 2rem;
}

.skills-box > ul {
  width: 100%;
  padding: 0 0 0 0;
  height: auto;
}

.skills-box > ul > li {
  margin-top: 6%;
  font-size: 1.2rem;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .skills-box {
    min-width: 300px;
    margin-top: 10%;
  }
  .skills-box > h1 {
    font-size: 1.5rem;
  }
  .skills-box > ul > li {
    font-size: 1rem;
  }
}

.bear {
  width: 160px;
  height: 185px;
  position: relative;
  background: var(--primary);
  border-radius: 100px 100px 0 0;
}

.bear:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 125px;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  background-image: radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #fff 30%, transparent 45%),
    radial-gradient(circle, #000 48%, transparent 51%),
    linear-gradient(#000 20px, transparent 0),
    linear-gradient(#cfecf9 60px, transparent 0),
    radial-gradient(circle, #cfecf9 50%, transparent 51%),
    radial-gradient(circle, #cfecf9 50%, transparent 51%);
  background-repeat: no-repeat;
  background-size: 16px 16px, 16px 16px, 10px 10px, 42px 42px, 12px 3px,
    50px 25px, 70px 70px, 70px 70px;
  background-position: 25px 10px, 55px 10px, 36px 44px, 50% 30px, 50% 85px,
    50% 50px, 50% 22px, 50% 45px;
  animation: faceLift 3s linear infinite alternate;
}

@keyframes faceLift {
  0% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(-30%);
  }
}
