* {
    margin: 0 0 0 0;
    font-family: "Montserrat", sans-serif;
}

button,
a,
input,
select,
textarea,
[role="button"] {
    cursor: inherit;
}
section,
[id] {
    scroll-margin-top: 100px;
}

body {
    cursor:
        url("/assets/Pictures/cursor.png") 25 25,
        auto;
    background: #0d0d0d;
}
