.skills-section-header {
    text-align: center;
    font-size: 3rem;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-section-container {
    padding: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skills-container {
    margin: 5% 5% 0% 5%;
    padding: 1%;
    border: rgb(255, 120, 140, 0.85) solid 3px;
    width: 30%;
    border-radius: 25px;
}

.skills-title {
    font-size: 2rem;
    text-align: center;
}

.skills-container ul {
    margin-top: 5%;
    list-style: none;
    padding: 0;
}

.skills-container li {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2.5%;
    color: white;
}

@media (max-width: 768px) {
    .skills-section-header {
        font-size: 3rem;
    }

    .skills-title {
        font-size: 1.5rem;
    }

    .skills-container li {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .skills-container {
        width: 70%;
        padding: 5%;
    }
}
