.footer-container {
    margin-top: 1%;
    height: 5vh;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.footer-text {
    font-size: 1.1rem;
}

.footer-icons {
    display: flex;
    gap: 0.75rem;
}

.footer-icons img {
    height: 2rem;
}

@media (max-width: 768px) {
    .footer-text {
        font-size: 0.7rem;
    }

    .footer-icons img {
        height: 1.1rem;
    }
}
