.experience-header {
    text-align: center;
    font-size: 5rem;
    background: radial-gradient(
        circle at 50%,
        rgb(255, 210, 123) 0vh,
        rgb(223, 58, 147) 50vh,
        rgb(92, 22, 99) 90vh,
        rgba(32, 31, 66, 0) 50vh
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experience-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.experience-parent {
    position: relative;
}

.indiv-experience {
    width: 100%;
    color: white;
}

.video-container {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 50vh;
    width: 70%;
    position: relative;
    overflow: hidden;
}

.video-container.fullscreen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: 999;
    border-radius: 0;
}

.video-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.video-overlay > h1 {
    font-size: 4rem;
    text-align: center;
}

.video-overlay > p {
    margin: 2% 1%;
    width: 70%;
    font-size: 1.15rem;
}

.video-overlay > h2 {
    text-align: center;
}

@media (max-width: 768px) {
    .experience-header {
        font-size: 3rem;
    }
    .video-overlay > h1 {
        font-size: 2rem;
    }
    .video-overlay > p {
        font-size: 0rem;
    }
}
