.experience-header {
    text-align: center;
    font-size: 5rem;
    background: radial-gradient(
        circle at 50%,
        rgb(255, 210, 123) 0vh,
        rgb(223, 58, 147) 50vh,
        rgb(92, 22, 99) 90vh,
        rgba(32, 31, 66, 0) 50vh
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experience-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
} /* CARD */

.video-container {
    position: relative;
    width: 70%;
    height: 50vh;
    margin: 5% 0;
    overflow: hidden;
    cursor: pointer;
}

.video-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* OVERLAY TEXT (NOT SCALING) */

.video-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    text-align: center;
}

.video-overlay h1 {
    font-size: 4rem;
}

.video-overlay p {
    width: 70vw;
    font-size: 1.3rem;
    margin-top: 1.2rem;
}

/* ZOOM LAYER */

.zoom-layer {
    position: fixed;
    inset: 0;
    z-index: 999;
    overflow: hidden;
    background: black;
}

/* CINEMATIC VIGNETTE */

.zoom-layer::after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 140px rgba(0, 0, 0, 0.55);
    pointer-events: none;
}
@media (max-width: 768px) {
    .experience-header {
        font-size: 3rem;
    }
    .video-overlay > h1 {
        font-size: 2rem;
    }
    .video-overlay > h2 {
        font-size: 1.2rem;
    }

    .video-overlay > p {
        font-size: 1rem;
    }
}
