.contact-me-container {
  height: 60vh;
  background-color: var(--primary);
}
.contact-me {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contact-me-container > h1 {
  color: var(--secondary);
  font-size: 3rem;
  margin-top: 1%;
  text-align: center;
}

.socials-container {
  background-color: var(--secondary);
  height: 65%;
  width: 65%;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.social-icon {
  position: relative;
  height: 5rem;
  z-index: 2;
}

.cat-container {
  overflow: hidden;
  margin-top: 5%;
  margin-left: 2%;
}

@media only screen and (max-width: 1200px) {
  .contact-me {
    flex-direction: column;
  }
  .socials-container {
    margin-top: 2%;
    width: 70%;
  }
  .social-icon {
    margin-left: 20px;
    margin-right: 20px;
    height: 4rem;
  }
}
