.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 998;

    background-color: #171717;
    color: white;

    font-size: 2rem;
}

.navbar-title {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 5%;

    background:
        radial-gradient(
            circle at 50% 30vh,
            rgba(255, 220, 140, 0.85) 0%,
            rgba(255, 220, 140, 0) 30%
        ),
        radial-gradient(
            circle at 50% 30vh,
            rgb(255, 150, 123) 0vh,
            rgb(92, 22, 99) 90vh,
            rgb(223, 58, 147) 100vh,
            rgba(32, 31, 66, 0) 120vh
        );

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-buttons {
    display: flex;
    gap: 2rem;
    margin-right: 2%;
    height: 100%;
    align-items: center;
}

.navbar-buttons button {
    background: none;
    border: none;
    color: white;
    min-height: 30px;
    height: 100%;
    width: 120px;

    font-size: 1.2rem;

    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        transform 0s ease;
}

.navbar-buttons button:hover {
    background-color: white;
    color: black;
}

.navbar-buttons button:active {
    transform: scale(0.97);
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;

    width: 28px;
    height: 20px;

    background: none;
    border: none;

    z-index: 999;
}

.hamburger span {
    height: 2px;
    width: 100%;
    background: white;
    transition: 0.5s;
}
.hamburger.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.open span:nth-child(2) {
    opacity: 0;
}
.hamburger.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 900px) {
    .hamburger {
        display: flex;
        position: absolute;
        right: 2%;
        top: 50%;
        transform: translateY(-50%);
    }

    .navbar-buttons {
        position: fixed;
        top: 60px;
        right: 0;

        flex-direction: column;
        align-items: stretch;

        width: 100%;
        background-color: #171717;

        transform: translateY(-150%);
        transition: transform 0.5s ease;
        z-index: 997;
    }

    .navbar-buttons.open {
        transform: translateY(0);
        width: 100%;
        margin-right: 0;
    }

    .navbar-buttons button {
        width: 100%;
        height: auto;
        font-size: 1.2rem;
    }

    .navbar-title {
        z-index: 998;
        font-size: 1.3rem;
    }
}
