.indiv-article {
    color: white;
}
.indiv-article h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 2%;
}

.article-body {
    width: 70%;
    margin: 5% 15% 5% 15%;
}

.article-body p {
    font-size: 1.2rem;
    margin-top: 1%;
    line-height: 1.2;
}

.article-body h2 {
    font-size: 1.7rem;
    margin-top: 3%;
}

.article-img-div {
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.article-img-div a {
    color: white;
}

.code-block {
    max-width: 75ch;
    margin: 2rem auto;
    overflow-x: auto;
}

.code-block pre {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.4;
}

.article-table-block {
    width: 100%;
    margin: 2% 0 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-table-block table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}

.article-table-block th,
td {
    padding: 20px;
}
