.indiv-article {
    color: white;
    width: 100%;
}
.indiv-article h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 2%;
}

.article-body {
    width: 70%;
    margin: 5% 15% 5% 15%;
}

.article-body p {
    font-size: 1.2rem;
    margin-top: 1%;
    line-height: 1.3;
}

.article-body h2 {
    font-size: 1.7rem;
    margin-top: 3%;
}

.article-img-div {
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.article-img-div a {
    color: white;
}

.code-block {
    max-width: 75ch;
    margin: 2rem auto;
    overflow-x: auto;
}

.code-block pre {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.4;
}

.article-table-block {
    width: 100%;
    margin: 2% 0 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.math-block {
    width: 100%;
}

.article-table-block table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}

.article-table-block th,
td {
    padding: 20px;
}

.math-block--row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 768px) {
    .indiv-article h1 {
        font-size: 2rem;
    }

    .article-body {
        width: 94%;
        margin: 5% 3% 5% 3%;
    }

    .article-body p {
        font-size: 1rem;
        margin-top: 5%;
    }

    .article-body h2 {
        font-size: 1.3rem;
    }

    .math-block mjx-container {
        display: inline-block;
        transform: scale(0.75);
        max-width: 100%;
        transform-origin: left center;
    }

    .math-block--row {
        display: inline-block;
    }

    .code-block h3 {
        font-size: 0.9rem;
    }

    .code-block pre {
        font-size: 0.6rem;
    }
    .article-table-block th,
    td {
        padding: 10px;
    }

    .article-table-block th,
    td {
        font-size: 0.7rem;
    }
}
