.indiv-article {
    color: white;
    width: 100%;
}

.overlay-btn-close {
    position: absolute;
    text-decoration: none;
    left: 3%;
    top: 3%;
    color: white;
    background: transparent;
    transform: translate(-50%, -50%);
    border: solid 0px;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    transition: 0.5s;
}

.overlay-btn-close:hover {
    transform: translate(-50%, -50%) scale(1.05);
}

.indiv-article h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 2%;
}

.article-body {
    width: 70%;
    margin: 5% 15% 5% 15%;
}

.article-body p {
    font-size: 1.2rem;
    margin-top: 1%;
    line-height: 1.3;
}

.article-body p > a {
    color: #3772de;
}

.article-body h2 {
    font-size: 1.7rem;
    margin-top: 3%;
}

.article-img-div {
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.article-img-div a {
    color: white;
}

.code-block {
    max-width: 75ch;
    margin: 2rem auto;
    overflow-x: auto;
}

.code-block pre {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.4;
}

.article-table-block {
    width: 100%;
    margin: 2% 0 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.math-block {
    width: 100%;
}

.article-table-block table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}

.article-table-block th,
td {
    padding: 20px;
}

.math-block--row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.repo-links {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.repo-links li {
    margin-top: 0.8rem;
}

.repo-links a {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    color: white;
    font-size: 1.2rem;

    transition: opacity 0.2s ease;
    text-decoration: underline;
}

.repo-links a > img {
    height: 1.2rem;
}

.repo-links a:hover {
    color: #3772de;
}

@media (max-width: 768px) {
    .indiv-article h1 {
        font-size: 2rem;
        margin: 10% 2% 10% 2%;
    }

    .article-body {
        width: 94%;
        margin: 5% 3% 5% 3%;
    }

    .article-body p {
        font-size: 1rem;
        margin-top: 5%;
    }

    .article-img-div i {
        font-size: 0.7rem;
    }

    .article-body h2 {
        font-size: 1.3rem;
        margin-top: 10%;
    }

    .math-block mjx-container {
        display: inline-block;
        transform: scale(0.75);
        max-width: 100%;
        transform-origin: left center;
    }

    .math-block--row {
        display: inline-block;
    }

    .code-block h3 {
        font-size: 0.9rem;
    }

    .code-block pre {
        font-size: 0.6rem;
    }
    .article-table-block th,
    td {
        padding: 10px;
    }

    .article-table-block th,
    td {
        font-size: 0.7rem;
    }

    .overlay-btn-close {
        top: 3%;
        left: 7%;
        font-size: 1rem;
        padding: 0 5px 0 5px;
    }
}
